.header_logo {
    width: 60px;
    height: 60px;
    background: #b34700;
    border-radius: 30px;
}

.header_logo:hover{
    background: #b34700 !important;
}

.header_text{
    font-size: 30px;
    margin-left: 0% !important;
    color:#b34700 !important;
}

.header_subtext{
    font-size: 16px;
}

.navbar{
    margin-bottom: 0px !important;
}

.homesubs h2, .homesubs h4{
    text-align:center;
}

.homesubs .fa{
    margin-right: 15px;
}

.homesubs p{
    margin-left:33px;
}
.homesubs .col-md-4{
    border-right: solid 1px #e7e7e7;
}

.homesubs{
    background: #fff;
    padding: 37px 0px;
    border-bottom: solid 1px #e7e7e7;
}

#map{
    height: 500px;
}

section#contact {
    background-color: #222222;
    background-image: url('http://artdnaswitchbd.com/componants/images/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
    width: 100%;
    height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}

footer{
    box-shadow: 0px 0px 10px #888888;
}

.facilitiesp, .gettingtherep {font-size: 16px;}
.facilitiespics img, .gettingtherepics img{width:100%;}
.facilitiespics h4 {text-align: center;}
.homepagepopup img {width:570px; height:250px;}
.homepagepopup li {list-style-type: none;}
.homepagepopup {text-align: center;}
.pagetitle a{float:right;}
.acbutton{background: #b34700; color:#fff !important; padding: 10px !important; font-size: 12px;}
.acbutton:hover {color:#000 !important;}
.acbutton:focus {color:#000 !important;}
.acbutton:visited {color:#000 !important;}

/*Sign in modal*/
.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}

.buttton-front{
    padding: 10px 18px !important;
    border-radius: 5px !important;
    background: #1DC7EA !important;
    color: :#fff !important;
    color: #fff !important;
    /* box-shadow: none; */
    border: none !important;
}

.navbar-right li{padding:0px 1px;}
.acbutton span{color: #fff !important;}

.accounttab{
    padding: 10px 10px;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin: 10px 10px;
}

.login-wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
}

.form-signin input{margin: 10px 0px;}

.modal-backdrop {position: relative !important;}
.addmorecat{padding-left:4%; padding-bottom: 3%; top: 8px;}

/*Add more sentences CSS*/
.addmoresentences, .removesentense{margin-top:20%;}

/*datatables search css*/
.dataTables_filter{width:84%;}
.dataTables_filter label{width:100%;}
.fa-pencil-square-o{
    font-size: 25px;
    position: absolute;
    display:none;
    left: 100px;
}

.displaynoneclass {display: none;}

.fa-pencil-square-o:hover{
    -webkit-transform:scale(1.106);
    -moz-transform:scale(1.106);
    transform:scale(1.106);
}

.pagetitle:after {
    content: "";
    display: table;
    clear: both;
}
.pagetitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagetitle a.btn{
    margin-left:auto;
}

#DataTables_Table_0_length{
    padding-left: 15px;
    width: 50%;
    margin-bottom: 15px;
}
#DataTables_Table_0_length label{
    width: 100%;
    font-size: 14px;
}
#DataTables_Table_0_length label select{
    width: 40%;
    padding: 7px 15px;
    border:1px solid #42d0ed;
    border-radius: 3px;
    font-size: 14px;
}
#DataTables_Table_0_filter{
    width: 50%;
    padding-right: 15px;
}
#DataTables_Table_0_filter label{
    font-size: 14px;
}
#DataTables_Table_0_filter input{
    border: 1px solid #42d0ed;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px 15px;
    font-size: 14px;
    box-shadow: 0 none;
    -webkit-box-shadow: 0 none;
    -moz-box-shadow: 0 none;
    width: 85%;
}
.error_class p{
    color: red;
}

#parent_cat{display:none;}
.closemodalfooter {background:#009900; color: #000;}
.dataTables_info{padding-left: 15px;}
.white-text{color: #fff;}

.logs-head .form-group{width: 100%;margin:0 10px;}
.logs-head form, .logs-filter-date{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
.logs-head form button[type='submit'], .logs-filter-date button[type='submit']{align-self:flex-end;}
.logs-head h3{margin: 10px 0 25px;}
.logs-page .dataTables_length, .logs-page .dataTables_filter{display: none;}
.logs-page .filter-by{margin-top: 25px;background: #f4f4f4;padding: 10px 15px;}
.logs-page .filter-by p{margin-bottom: 0;text-align: center;}
.logs-page .filter-by p span{color: green;font-weight: bold;}
.logs-page table.dataTable tbody td{padding: 10px 18px;}

.logs-filter-date{justify-content: space-around;}
.logs-filter-date .form-group{margin: 0 5px 0 0;position: relative;}
.logs-filter-date .form-group input{}
.logs-filter-date .form-group i
{position: absolute;
    top: 36px;
    left: 8px;
    font-size: 18px;
    color: #e1e1e1;}

.modal {
    text-align: center;
    padding: 0!important;
    background: rgba(0,0,0,.3);
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#myModal1 .modal-dialog{width: 500px;}
.search-wrap{margin: 25px 0px;}
.search-wrap form{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
}
.search-wrap form > div{margin-right: 15px;}
.search-wrap .open .form-control{border-radius: 0px;border-bottom-color:#AAAAAA;}
.search-wrap .dropdown-menu > li:first-child > a{border-radius: 0px;}
.search-wrap .bs-searchbox .form-control{box-shadow: 0px 0px 5px #1DC7EA;}
/*.search-wrap .dropdown-menu, .search-wrap .dropdown-menu.open, .bootstrap-select.btn-group .dropdown-menu{z-index: inherit;}*/

/* start switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1DC7EA;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1DC7EA;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* end switch button */